# The<span style="color:orange"> FoodStyles </span>Technical Challenge

### The challenge
You are given a dataset (assets/dataset.zip) containing information about restaurants all over Europe. The goal of the challenge is to make sense of the dataset and understand it in such a way that informed, data-based business decisions can be made. To make things easier, the challenge is split into three conceptually independent parts, with action points at each part.

#### Data cleaning
1.	Identify the columns with mixed data types.
2.	For each column, count the number of rows per data type.
3.	Would removing missing values solve the mixed data type problem?

## <span style="color:orange">Data cleaning</span>

## 1.	Identify the columns with mixed data types.

In [1]:
import pandas as pd

# Read the file in chunks of 1000 rows
chunks = pd.read_csv("assets\dataset.csv", chunksize=10000)

In [2]:
for i, chunk in enumerate(chunks):
    # Do something with the chunk
    #print(chunk.head())
    print(chunk.shape)
    # stop after reading 5 chunks
    if i == 4:
        break

(10000, 42)
(10000, 42)
(10000, 42)
(10000, 42)
(10000, 42)

In [3]:
df = pd.read_csv("assets\dataset.csv", nrows=100000)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   restaurant_link                    100000 non-null  object
 1   restaurant_name                    100000 non-null  object
 2   original_location                  100000 non-null  object
 3   country                            100000 non-null  object
 4   region                             99998 non-null   object
 5   province                           81697 non-null   object
 6   city                               99870 non-null   object
 7   address                            100000 non-null  object
 8   latitude                           99154 non-null   float64
 9   longitude                          99154 non-null   float64
 10  claimed                            99879 non-null   object
 11  awards                             27665 non-null   object
 12  popularity_detailed                92770 non-null   object
 13  popularity_generic                 92566 non-null   object
 14  top_tags                           90467 non-null   object
 15  price_level                        80063 non-null   object
 16  price_range                        34679 non-null   object
 17  meals                              64210 non-null   object
 18  cuisines                           84533 non-null   object
 19  special_diets                      19123 non-null   object
 20  features                           37495 non-null   object
 21  vegetarian_friendly                100000 non-null  object
 22  vegan_options                      100000 non-null  object
 23  gluten_free                        100000 non-null  object
 24  original_open_hours                56527 non-null   object
 25  open_days_per_week                 56527 non-null   float64
 26  open_hours_per_week                56527 non-null   float64
 27  working_shifts_per_week            56527 non-null   float64
 28  avg_rating                         92659 non-null   float64
 29  total_reviews_count                93564 non-null   float64
 30  default_language                   92764 non-null   object
 31  reviews_count_in_default_language  92764 non-null   float64
 32  excellent                          92764 non-null   float64
 33  very_good                          92764 non-null   float64
 34  average                            92764 non-null   float64
 35  poor                               92764 non-null   float64
 36  terrible                           92764 non-null   float64
 37  food                               62872 non-null   float64
 38  service                            63306 non-null   float64
 39  value                              63176 non-null   float64
 40  atmosphere                         27472 non-null   float64
 41  keywords                           2973 non-null    object
dtypes: float64(17), object(25)
memory usage: 32.0+ MB

The first 7 features appear to be solid and reliable for identifying a unique restaurant row. However, the data seems to be mixed and needs to be controlled for each row.

## 2.	For each column, count the number of rows per data type.

In [5]:
#Use all of data once.
full_data = pd.read_csv("assets\dataset.csv")

C:\Users\YUNUS\AppData\Local\Temp\ipykernel_26200\2283058191.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  full_data = pd.read_csv("assets\dataset.csv")

In [6]:
full_data[full_data["restaurant_name"].str.contains("Bento Nguyen")]

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
213530,g187309-d21233601,Bento Nguyen,"[""Europe"", ""Germany"", ""Bavaria"", ""Upper Bavari...",Germany,Bavaria,Upper Bavaria,Munich,"Schleissheimer Str. 221, 80809 Munich, Bavaria...",48.173590,11.565110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213739,g187309-d2368220,Bento Nguyen,"[""Europe"", ""Germany"", ""Bavaria"", ""Upper Bavari...",Germany,Bavaria,Upper Bavaria,Munich,"Paul-Heyse-Str. 2, 80336 Munich, Bavaria Germany",48.138897,11.556104,...,11.0,16.0,4.0,0.0,2.0,4.0,4.5,4.5,NaN,NaN

In [7]:
full_data["city"].unique().tolist()

['Saint-Jouvent',
 'Rivarennes',
 'Lacelle',
 'Saint-Laurent-de-Levezou',
 'Le Crozet',
 'Saint-Denis',
 'Orgibet',
 'They-sous-Montfort',
 'Journans',
 'Rocbaron',
 'Le Bec-Hellouin',
 'Lanslebourg Mont Cenis',
 'Valhuon',
 'Saint-Bonnet en Champsaur',
 'Saint-Martin-du-Bois',
 'St Suliac',
 'Espaly-Saint-Marcel',
 'Meaulte',
 'Conflans Sainte Honorine',
 'Franconville',
 'Maisons-Alfort',
 'Port-Vendres',
 'Mirambeau',
 'Saint-Cyr',
 'Ceilloux',
 'Oradour-sur-Vayres',
 'Lambersart',
 'Santa Maria di Lota',
 'Calan',
 'Couilly-Pont-aux-Dames',
 'Hoenheim',
 'Isigny-sur-Mer',
 'Le Puech',
 'Carentan',
 'Autrans',
 'Arthez-de-Bearn',
 'Vallorcine',
 'Pourrain',
 'Saillagouse',
 'Corcelles-les-Citeaux',
 'Dracy-le-Fort',
 'Les Vans',
 'Pommiers',
 "Valence-d'Albigeois",
 'Valence',
 'Beauvallon',
 'Preuilly',
 'Murol',
 'Montclar',
 'Lamothe-Montravel',
 'Albens',
 'Le Menil-Brout',
 'Pierrevert',
 'Allauch',
 'Oiry',
 'Lesigny',
 'Mauvaisin',
 'Anthon',
 'Plounevezel',
 'Villedieu-les-Poeles',
 'Couhe',
 'Villefranche-de-Rouergue',
 'Rittershoffen',
 'Poulx',
 'Gerberoy',
 'La Turballe',
 'Pouzauges',
 'Moutiers au Perche',
 'Neauphle-Le-Vieux',
 'Noyon',
 "Saint-Sorlin-d'Arves",
 'La Mole',
 'La Chapelle-en-Serval',
 'Elne',
 'Froideterre',
 'Raymond',
 'Pornic',
 'Saint-Martial-Viveyrol',
 'Picauville',
 'Audrieu',
 'Jumieges',
 'Gaillon',
 'Gisors',
 'Le Treport',
 'Le Val-Saint-Pere',
 'Ceaux',
 'Saint-Hilaire-du-Harcouet',
 'Ardevon',
 'Saint Marcan',
 'Saint-Martin-aux-Chartrains',
 'Branville',
 "Pont-L'Eveque",
 'Niaux',
 'Aulus-les-Bains',
 'Saint-Antheme',
 'Ancy-le-Franc',
 'Rully',
 'La Barben',
 'Sezanne',
 "L'Oudon",
 'Saint Manvieu Bocage',
 'Carolles',
 'Bois Guillaume',
 'Saint-Jouin-Bruneval',
 'Clamart',
 'Bellentre',
 'Colombes',
 'Saint-Paul-Trois-Chateaux',
 'Soultzmatt',
 'Morsbronn Les Bains',
 'Moissac',
 'Quenza',
 "Villenave D'ornon",
 'Le Pouliguen',
 'Claye Souilly',
 'Tregastel',
 'St.-Thibault-des-Vignes',
 'Chateau Chinon',
 'Port La Nouvelle',
 "Saint-Jean-d'Angely",
 'Le Port-Marly',
 "Le Freney d'Oisans",
 'Mercurol',
 'Cozzano',
 'Vonnas',
 'Le Monestier',
 'Bully-les-Mines',
 'Neufchatel-en-Saosnois',
 'Pernand-Vergelesses',
 'Semecourt',
 'Ceyzerieu',
 'Pierrefonds',
 'Lavau-sur-Loire',
 'Loches-sur-Ource',
 'Cenon-sur-Vienne',
 'Montgreleix',
 'Peret',
 'Saint-Antoine-de-Breuilh',
 'Balma',
 'La Ferriere',
 'Staffelfelden',
 'Merignac',
 'Lumbin',
 'Anost',
 "Monacia-d'Aullene",
 'Saint-Astier',
 'Bethencourt',
 'Labroye',
 'Montreuil-Poulay',
 'Le Chesne',
 'Neufchef',
 "L'Ile-Saint-Denis",
 'Le Miroir',
 'Brienne-la-Vieille',
 'Pirey',
 'Franquevaux',
 'Fauguerolles',
 'Louze',
 'Sepmes',
 'Fontaines-Saint-Martin',
 'Vignoux-sous-les-Aix',
 'Argenvieres',
 'Gasville-Oiseme',
 'Gevry',
 'La Chapelle-aux-Lys',
 'Limons',
 'Chauconin-Neufmontiers',
 'Mureils',
 'Grosmagny',
 'Hordain',
 'Ruitz',
 'Vinon',
 'Saint-Etienne-du-Valdonnez',
 'Les Mesneux',
 'Hyemondans',
 'Montholier',
 'Neuvy-sur-Loire',
 'Foucarmont',
 'Laneuveville-devant-Nancy',
 'Lalizolle',
 'Thiepval',
 'Sermerieu',
 'Venarsal',
 'Montcourt-Fromonville',
 'Payre',
 'Montbartier',
 'Curcy-sur-Orne',
 'Folschviller',
 'Saint-Jean-Ligoure',
 'Saint-Hippolyte',
 'Canouville',
 'Mary-sur-Marne',
 'Marigny',
 'Frontenay-Rohan-Rohan',
 'Miserieux',
 'Algrange',
 'Pia',
 'Chaveroche',
 'Rabastens-de-Bigorre',
 'Maisdon-sur-Sevre',
 'Val-De-Meuse',
 'Venzolasca',
 "Saint-Aubin-d'Aubigne",
 'Saint-Priest',
 'Porto Pollo',
 'Chameane',
 'Crozes-Hermitage',
 'Saint-Amant-Roche-Savine',
 'Saint-Simeon-de-Bressieux',
 'Uzer',
 'Soccia',
 'Wissant',
 'Andrezieux-Boutheon',
 "Le Bourg-d'Oisans",
 'Niedersteinbach',
 'Tursac',
 'Saint-Donan',
 'Berneuil-sur-Aisne',
 'Fontanges',
 'Jonquieres',
 'Aulon',
 'Somloire',
 'Triembach-au-Val',
 'La Gimond',
 'Ouhans',
 'Ludes',
 'Guichen',
 'Marnay',
 'Saint-Claud',
 'Maubourguet',
 'Archamps',
 'Saint-Germain-Sur-Rhone',
 'Battenans-Varin',
 'Claouey',
 'Poisat',
 'Acheres',
 'Ambialet',
 'Ambleteuse',
 'Amphion Les Bains',
 'Ancenis',
 'Andilly',
 'Antony',
 'Bouaye',
 'Bucheres',
 'Echirolles',
 'Crecy-la-Chapelle',
 'Fontenay Sur Loing',
 'Fourques',
 'Gignac',
 'Vieille-Eglise',
 'Les Ferres',
 'Damgan',
 'Mouliherne',
 'Trappes',
 'Saint-Jorioz',
 'Pietrosella',
 'Puisseguin',
 'Villarodin-Bourget',
 'Beaumont',
 'Saint-Sauvant',
 'Antignac',
 'Aubignan',
 'Entraigues-sur-la-Sorgue',
 'Tavel',
 'Eyragues',
 'Bazens',
 'Uchaux',
 'Chateauneuf-de-Gadagne',
 'Aramon',
 'Saint-Eugene',
 'Pompignan',
 'Gacogne',
 'Mirebeau-sur-Beze',
 'Charency',
 'Meze',
 'Alet les Bains',
 'Saint-Aubin-Sur-Mer',
 'Dienne',
 'Asprieres',
 'Martillac',
 'Rixheim',
 'Saint Amarin',
 'Talence',
 'Messanges',
 'Montcaret',
 'Ondres',
 'Villandraut',
 'Vorey',
 'Locronan',
 'Chateaulin',
 'Quimperle',
 'Plouider',
 'Montmelard',
 'Talant',
 'Sombernon',
 'Mainvilliers',
 'Vertus',
 'Vienne-le-Chateau',
 'Piney',
 'Maizieres La Grande Paroisse',
 'Maisons les Chaource',
 'Saint-Leons',
 'Val de Reuil',
 'Saint-Cergues',
 'Louveciennes',
 'Montreuil',
 'Thiais',
 'Mouroux',
 "Saint Cyr l'Ecole",
 'Saint Brice Sous Foret',
 'Rambouillet',
 'Valras-Plage',
 'Vernet-Les-Bains',
 'Saint-Gilles',
 'Osseja',
 'Tulle',
 'Saint-Pierremont',
 'Luppe Violles',
 'Rieupeyroux',
 'Severac-le-Chateau',
 'Guzet Neige',
 'Pont de Salars',
 'Somain',
 'Saint-Gilles-Croix-de-Vie',
 'Les Herbiers',
 'Vivy',
 'Vaiges',
 'Villaines la Juhel',
 'Saujon',
 'Violes',
 'Monteux',
 'Saint-Vallier-de-Thiey',
 'La Feclaz',
 'Mirmande',
 'Perreux',
 'Uriage les Bains',
 'Serezin-du-Rhone',
 'Pontlevoy',
 'Montournais',
 'Santa Lucia di Mercurio',
 'Baume-les-Dames',
 'Rochecorbon',
 'Lezignan-Corbieres',
 'Saint-Siffret',
 'Thorame-Basse',
 'Bouresse',
 'Vincelles',
 'La Grande-Verriere',
 'Le Poinconnet',
 'Saint-Nabord',
 'Lussan',
 'Leynhac',
 'Gravieres',
 'Lacalm',
 'Fort-Mahon-Plage',
 'La Couvertoirade',
 'Cayeux-sur-Mer',
 'Mamers',
 'Prunay',
 'La Motte',
 'Argenton-sur-Creuse',
 'Nedde',
 'Saint-Chinian',
 'Saint-Aubin-sur-Gaillon',
 'Lanvallay',
 'Le Palais',
 'Bangor',
 'Sauzon',
 'Belle-Ile-en-Mer',
 'Beauvoir',
 'Tremblay',
 "Saint-Andre-de-l'Eure",
 'Nommay',
 'Luynes',
 'Melle',
 'Saint-Briac-sur-Mer',
 'Bitche',
 'Heudicourt Sous Les Cotes',
 'Aumont Aubrac',
 'Homps',
 'Bantzenheim',
 'Eckbolsheim',
 'Horbourg Wihr',
 'Jungholtz',
 'Klingenthal',
 'Le Bonhomme',
 'Bar Sur Aube',
 'Beaumont Pied De Boeuf',
 'Distre',
 'La Chartre-sur-le-Loir',
 'Les Ponts De Ce',
 'Berry Au Bac',
 'Bessoncourt',
 'Biganos',
 'Brocas',
 'Cassen',
 'Le Teich',
 'Le Verdon Sur Mer',
 'Lestelle Betharram',
 'Bonnat',
 'Bracieux',
 'Chateaudun',
 'Caillac',
 'Compeyre',
 'Estaing',
 'Gerde',
 'Grenade',
 'Lacapelle Marival',
 'Lorp Sentaraille',
 'Pradines',
 'Revel',
 'Cairanne',
 'Fos-Sur-Mer',
 'La Bollene Vesubie',
 'Andon',
 'Le Lauzet Ubaye',
 'Plan De Cuques',
 'Chateaugay',
 'Chaumes En Brie',
 'Epinay sur Seine',
 'Etampes',
 'Fresnes',
 'La Ville Du Bois',
 'Le Coudray Montceaux',
 'Linas',
 'Niozelles',
 'Corbigny',
 'Crest-Voland',
 'Gieres',
 'La Motte Servolex',
 'Le Pouzin',
 'Cervens',
 'Les Deserts',
 'Mably',
 'Praz Sur Arly',
 'Cucq',
 'Erbree',
 'Grand Fougeray',
 'Landivisiau',
 'Le Rheu',
 'Pleumeur Bodou',
 'Plougastel Daoulas',
 'Quemper Guezennec',
 'Fagnieres',
 'Ghisonaccia',
 'Lalacelle',
 'Sassenay',
 'Saint-Aubin-de-Blaye',
 'Pierre-Buffiere',
 'Grande-Synthe',
 'Sauze',
 'Chatillon-sur-Indre',
 'Boofzheim',
 'Bonneville-sur-Touques',
 'Uzerche',
 'Siorac-en-Perigord',
 'Saint-Auban',
 'Arcis sur Aube',
 'Chartrettes',
 'Camblanes et Meynac',
 'Auvillars-sur-Saone',
 'Verzy',
 'Saint-Sauveur-le-Vicomte',
 'Insming',
 'Boutenac',
 'Braillans',
 'Vergezac',
 'Neufchatel en Bray',
 'Joinville',
 'Saint-Germain-des-Vaux',
 'Jullouville',
 'Sallenelles',
 'Pirou',
 'La Cambe',
 'Grandcamp-Maisy',
 'Le Devoluy',
 'Mareil-Marly',
 'Germigny-des-Pres',
 'Saint-Benoit-sur-Loire',
 'Dampierre-en-Yvelines',
 'Sevres',
 'Ars-Laquenexy',
 'Liourdres',
 'Hardinghen',
 'Saint-Martin-de-Boscherville',
 'Calenzana',
 'Baulne-en-Brie',
 'Confort',
 'Choisel',
 'Varennes sur Loire',
 'Caunes-Minervois',
 'Hauterive',
 'Uzemain',
 'Labenne',
 'Vertheuil',
 'Miramont-de-Guyenne',
 'Hasparren',
 'Monticello',
 'Le Truel',
 'Longues-sur-Mer',
 'Coudeville-sur-Mer',
 'Cabrerets',
 'Carhaix-Plouguer',
 'Savasse',
 'La Wantzenau',
 'Gye-sur-Seine',
 'Joinville-le-Pont',
 'Neufchateau',
 'Sigean',
 'Maubec',
 'Aujac',
 'Saint-Privat',
 'Les Moitiers-d\\u2019Allonne',
 'Salins-Fontaine',
 'Trun',
 'Villacerf',
 'Coussegrey',
 'Scorbe-Clairvaux',
 'Seyresse',
 'Saint-Malo-des-Trois-Fontaines',
 'La Porcherie',
 'Velizy-Villacoublay',
 'Verrieres-le-Buisson',
 'Champs-sur-Marne',
 'Belvianes et Cavirac',
 'Gaujac',
 'Provencheres-et-Colroy',
 'St Martin Terressus',
 'Viscos',
 'Douvrin',
 'Benouville',
 'Benon',
 'Rontalon',
 'Richemont',
 'Ottmarsheim',
 'Schiltigheim',
 'Chasnans',
 'Bartenheim',
 'Bischwihr',
 'Hagenthal-le-Bas',
 'Blaesheim',
 'Labaroche',
 'Lutterbach',
 'Matzenheim',
 'Pulversheim',
 'Neuf-Brisach',
 'Thannenkirch',
 'Trois-Epis',
 'Duras',
 'Beynac-et-Cazenac',
 'Andernos-les-Bains',
 'Arveyres',
 'Bazas',
 'Bias',
 'Fumel',
 'Boe',
 'Castelculier',
 'Castelmoron-sur-Lot',
 'Coux-et-Bigaroque',
 'Gujan-Mestras',
 'Lacanau',
 'La Teste-de-Buch',
 'Le Buisson-de-Cadouin',
 'Leon',
 'Limeuil',
 'Maubuisson',
 'Mauleon-Licharre',
 'Navarrenx',
 'Nerac',
 'Nontron',
 'Orthez',
 'Parentis-en-Born',
 'Sainte-Livrade-sur-Lot',
 "Saint-Jean-d'Illac",
 'Salies-de-Bearn',
 'Trelissac',
 'Vieux-Mareuil',
 'Arbonne',
 'Cap-Ferret',
 'Saint-Jacques-des-Blats',
 'Riom-es-Montagne',
 "Bourbon-l'Archambault",
 'Clavieres',
 'Lascelle',
 'Laussonne',
 'Neris-les-Bains',
 'Puy-Guillaume',
 'Trevol',
 'Varennes-sur-Allier',
 'Petiville',
 'Fontenai-sur-Orne',
 'La Riviere-Saint-Sauveur',
 'Quineville',
 'Saint-Contest',
 'Villers-sur-Mer',
 'Brelidy',
 'Chartres-de-Bretagne',
 'Ergue-Gaberic',
 'La Meziere',
 'Lampaul-Guimiliau',
 'Bono',
 'Le Relecq-Kerhuon',
 'Loudeac',
 'Plancoet',
 'Plerin',
 'Ploemel',
 'Plouharnel',
 'Vezin-le-Coquet',
 'Berze-la-Ville',
 'Chablis',
 'Charnay-les-Macon',
 'Couches',
 'Creches-sur-Saone',
 'Daix',
 'Fontaine-les-Dijon',
 'Gilly-les-Citeaux',
 'Le Creusot',
 'Longvic',
 'Montagny-les-Beaune',
 'Saint-Martin-en-Bresse',
 'Sance',
 'Vosne-Romanee',
 'Port-Louis',
 'Pentrez',
 'Liffre',
 'Clohars-Carnoet',
 'Ouchamps',
 'Saint-Gervais-la-Foret',
 'Ardon',
 'Barjouville',
 'Chaumont-sur-Tharonne',
 'Chaveignes',
 'Chissay-en-Touraine',
 'Chisseaux',
 'Chitenay',
 'Donnemain-Saint-Mames',
 'La Chaussee-Saint-Victor',
 'La Loupe',
 'Le Subdray',
 'Parcay-Meslay',
 'Saint-Jean-de-Braye',
 'Goeulzin',
 'Pusey',
 'Barberey-Saint-Sulpice',
 'Bourbonne-les-Bains',
 'Breviandes',
 'La Chaussee-sur-Marne',
 'Montigny-le-Roi',
 'Romilly-sur-Seine',
 'Saint-Andre-les-Vergers',
 'Saint-Brice-Courcelles',
 'Sainte-Savine',
 'Warmeriville',
 'Cagnano',
 'Belgodere',
 'Borgo',
 'Brando City',
 'Calacuccia',
 'Porto',
 'Crots',
 'Agay',
 'Aspres-sur-Buech',
 'Aubais',
 'Baratier',
 'Calvisson',
 'Carqueiranne',
 'Cavaliere',
 'Velleron',
 'Eygliers',
 'Chateau-Arnoux',
 'Chorges',
 'Cornillon-Confoux',
 'Cuers',
 'Chabrieres',
 'La-Bouilladisse',
 'La Seyne-sur-Mer',
 'La Valette-du-Var',
 'Les Milles',
 'Les-Pennes-Mirabeau',
 'Noves',
 'Oraison',
 'Paradou',
 'Peypin',
 'Sabran',
 'Saint-Etienne-les-Orgues',
 'Sollies-Pont',
 'Vacqueyras',
 'Chaussin',
 'La Cotiniere',
 'Villeneuve-la-Garenne',
 'Sarcelles',
 'Drancy',
 'Cergy-Pontoise',
 'Champigny-sur-Marne',
 'Charenton-le-Pont',
 'Courcouronnes',
 'Dourdan',
 'Eaubonne',
 'Emerainville',
 'Eragny-sur-Oise',
 'Ferrieres-en-Brie',
 'Fleury-Merogis',
 'Villeneuve-le-Roi',
 'Vigneux-sur-Seine',
 'Garges-les-Gonesse',
 'Tremblay-les-Gonesse',
 'Taverny',
 'Sancy-les-Meaux',
 "Saint-Ouen-l'Aumone",
 'Rubelles',
 'Neuilly-Plaisance',
 'Lognes',
 'Livry-Gargan',
 'Les-Loges-en-Josas',
 'Herblay',
 'Banyuls-dels-Aspres',
 'Bolquere',
 'Cabestany',
 'Chalabre',
 'Floure',
 'Les Mages',
 'Leuc',
 'Narbonne-Plage',
 'Nissan-lez-Enserune',
 "Plage d'Argeles",
 'Pradelles-Cabardes',
 'Saint-Jean-Pla-de-Corts',
 "Saint-Georges-d'Orques",
 'Saint-Hilaire-de-Brethmas',
 'Saint-Jean-du-Gard',
 'Saint-Pierre-la-Mer',
 'Sernhac',
 'Vendres',
 'Vias',
 'Vic-la-Gardiole',
 'Saint-Yrieix-la-Perche',
 'Bar-le-Duc',
 'Basse-Yutz',
 'Chavelot',
 'Feves',
 'Freyming-Merlebach',
 'Golbey',
 'Kedange-sur-Canner',
 'Longwy',
 'Moncel-les-Luneville',
 'Remiremont',
 'Rugy',
 'Saint-Affrique',
 'Mostuejouls',
 'Alvignac',
 'Beaumarches',
 'Capvern',
 'Germ',
 'La-Bastide-de-Serou',
 'Labastide-Murat',
 'Latronquiere',
 'Lauzerte',
 "L'Hospitalet-du-Larzac",
 'Muret',
 'Offemont',
 'Prayssac',
 'Rignac',
 'Saint-Beauzeil',
 'Saint-Rome-de-Tarn',
 'Samatan',
 'Seilh',
 'Semeac',
 'Thegra',
 'Tournefeuille',
 'Ustou',
 'Vieille-Toulouse',
 'Beutin',
 'Armentieres',
 'Beuvry',
 'Bleriot-Plage',
 'Bollezeele',
 'Camiers',
 'Cappelle-la-Grande',
 'Emmerin',
 'Ennevelin',
 'Etaples',
 'Halluin',
 'Hazebrouck',
 'Labuissiere',
 'Landrethun-le-Nord',
 'Le Wast',
 'Lezennes',
 'Lumbres',
 'Marcq-en-Baroeul',
 'Marquise',
 'Mons-en-Baroeul',
 'Proville',
 'Rang-du-Fliers',
 'Saint-Amand-les-Eaux',
 'Saint-Josse',
 'Saint-Pol-sur-Mer',
 'Les-Sorinieres',
 'La Gueriniere',
 'Chambretaud',
 'La Chapelle-sur-Erdre',
 'Challans',
 'Ferce-sur-Sarthe',
 'Montfaucon-Montigne',
 'Heric',
 "L'Aiguillon-sur-Vie",
 'La Plaine-sur-Mer',
 'Le Mesnil-en-Vallee',
 'Le Puy-Notre-Dame',
 'Olonne-sur-Mer',
 'Reze',
 'Saint-Brevin-les-Pins',
 'Saint-Hilaire-de-Riez',
 'Saint-Leonard-des-Bois',
 'Saint-Martin-de-la-Place',
 "Saint-Sylvain-d'Anjou",
 'Saulges',
 'Vigneux-de-Bretagne',
 'Assevillers',
 'Chamant',
 'Ermenonville',
 'Gauchy',
 'Grand-Laviers',
 'Jaux',
 'Longueau',
 'Orry-la-Ville',
 'Fouras',
 'Angoulins',
 'Aytre',
 'Bressuire',
 'Gencay',
 'Mignaloux-Beauvoir',
 'Moncoutant',
 'Roiffe',
 'Ronce-les-Bains',
 'Saint-Georges-de-Didonne',
 'Saint-Galmier',
 'Saint-Genis-Laval',
 'Saint-Quentin-Fallavier',
 'La Ricamarie',
 'Massieux',
 'Ambilly',
 'Argonay',
 'Annecy-le-Vieux',
 'Bessenay',
 'Aigueblanche',
 'Amberieu-en-Bugey',
 'Chanas',
 'Chaponnay',
 'Charbonnieres-les-Bains',
 'Decines-Charpieu',
 'Doucy',
 'Hauteville-Lompnes',
 'Aranc',
 'Fontanil-Cornillon',
 'Genas',
 'Givors',
 'Gresse-en-Vercors',
 'Jons',
 'Julienas',
 'Le Bourget-du-Lac',
 'Le Coteau',
 'Les Allues',
 'Les Coches',
 'Lissieu',
 'Marboz',
 "Marcy-l'Etoile",
 'Montbonnot-Saint-Martin',
 'Montbrun-les-Bains',
 'Monthieux',
 'Nantua',
 'Pierre-Benite',
 'Reventin-Vaugris',
 'Saint-Bonnet-de-Mure',
 'Sainte-Foy-les-Lyon',
 'Saint-Ismier',
 'Saint-Maurice-de-Beynost',
 'Saint-Nazaire-en-Royans',
 'Salavas',
 'Serves-sur-Rhone',
 "Communaute d'Agglomeration Pau-Pyrenees",
 'Seynod',
 'Ville-la-Grand',
 'Voiron',
 'Voreppe',
 'Bourg-Achard',
 'Le Vaudreuil',
 'Roanne',
 "Pont-de-l'Arche",
 'Puchay',
 'Sotteville-les-Rouen',
 'Vieux-Villez',
 'Communaute de Communes de Bernay et des Environs',
 "Communaute d'Agglomeration du Pays Ajaccien",
 'Brando',
 'Morancez',
 'Saint-Hilaire-sur-Benaize',
 'Anjou',
 'Miribel',
 'La Chapelle',
 'Gourville',
 'Lichtenberg',
 'La Couronne',
 'Frouard',
 'Castelnau-de-Levis',
 'Haucourt-Moulaine',
 'Suze-la-Rousse',
 'Saint-Michel-Chef-Chef',
 'Tharon-Plage',
 'Les Chapelles-Bourbon',
 'Hambye',
 'Camaret-sur-Mer',
 'Clichy-Sous-Bois',
 'Souastre',
 'Pouilley-Francais',
 'Bligny sur Ouche',
 'Saint-Benoit-du-Sault',
 'Montchanin',
 'La Lande-de-Fronsac',
 'Sainte-Cecile-les-Vignes',
 'Saint-Symphorien',
 'Heuchin',
 'Monts',
 'Augignac',
 'Eauze',
 'Caumont-sur-Durance',
 'St Avit',
 'Merle-Leignec',
 'Montarcher',
 'Saint-Esteve-Janson',
 'Charleval',
 'Vezac',
 'Saint James',
 'Ifs',
 'Bruz',
 'La Foux',
 'Beausoleil',
 'Cachan',
 'Maury',
 'Perols',
 'Lunel',
 'Avrille',
 'Lancie',
 'Vaulx en Velin',
 'Charquemont',
 'Moussoulens',
 'Montherme',
 'Le Mesnil-sur-Blangy',
 'Saint-Mammes',
 'Yport',
 'Nanteuil En Vallee',
 'Badefols-sur-Dordogne',
 'Rou-Marson',
 'Nieul',
 'Yvetot-Bocage',
 'Villiers-Charlemagne',
 'Les Epesses',
 'Chateauneuf-sur-Sarthe',
 'Barbentane',
 'Le Cannet-des-Maures',
 'Soleilhas',
 'Figanieres',
 'Roussillon',
 'Le Poet-Laval',
 'Neuveglise',
 'Biert',
 'Passenans',
 'Castillon-la-Bataille',
 'Folelli',
 'Burlats',
 'Sospel',
 'Ploermel',
 'Saint-Georges-sur-Loire',
 'La Cavalerie',
 "Saint Seine L'Abbaye",
 'La Canourgue',
 'Sille-le-Guillaume',
 'Montredon-des-Corbieres',
 nan,
 'Saint-Julien',
 'Montaren-et-Saint-Mediers',
 'Moussey',
 'Plescop',
 "Saint-Chely-d'Aubrac",
 'Cabrespine',
 'Quillan',
 'Flesselles',
 'Le Rouret',
 'Barbazan',
 'Miniac-Morvan',
 'Pyla-sur-Mer',
 'Cucugnan',
 'Puivert',
 'Montjean-sur-Loire',
 'Degagnac',
 'Ozoir-la-Ferriere',
 'Curzay-sur-Vonne',
 'Mollans sur Ouveze',
 'Albaret-Sainte-Marie',
 'Saint-Julien de Civry',
 'Perignat-les-Sarlieve',
 ...]

In [8]:
# Apply type method for each row and get count.
for col in full_data.columns:    
    data_types = full_data[col].apply(type).value_counts()
    print(data_types)

<class 'str'>    1083397
Name: restaurant_link, dtype: int64
<class 'str'>    1083397
Name: restaurant_name, dtype: int64
<class 'str'>    1083397
Name: original_location, dtype: int64
<class 'str'>    1083397
Name: country, dtype: int64
<class 'str'>      1033074
<class 'float'>      50323
Name: region, dtype: int64
<class 'str'>      742765
<class 'float'>    340632
Name: province, dtype: int64
<class 'str'>      682712
<class 'float'>    400685
Name: city, dtype: int64
<class 'str'>    1083397
Name: address, dtype: int64
<class 'float'>    1083397
Name: latitude, dtype: int64
<class 'float'>    1083397
Name: longitude, dtype: int64
<class 'str'>      1081555
<class 'float'>       1842
Name: claimed, dtype: int64
<class 'float'>    820264
<class 'str'>      263133
Name: awards, dtype: int64
<class 'str'>      988409
<class 'float'>     94988
Name: popularity_detailed, dtype: int64
<class 'str'>      985605
<class 'float'>     97792
Name: popularity_generic, dtype: int64
<class 'str'>      972763
<class 'float'>    110634
Name: top_tags, dtype: int64
<class 'str'>      806192
<class 'float'>    277205
Name: price_level, dtype: int64
<class 'float'>    779070
<class 'str'>      304327
Name: price_range, dtype: int64
<class 'str'>      635347
<class 'float'>    448050
Name: meals, dtype: int64
<class 'str'>      914294
<class 'float'>    169103
Name: cuisines, dtype: int64
<class 'float'>    743141
<class 'str'>      340256
Name: special_diets, dtype: int64
<class 'float'>    765990
<class 'str'>      317407
Name: features, dtype: int64
<class 'str'>    1083397
Name: vegetarian_friendly, dtype: int64
<class 'str'>    1083397
Name: vegan_options, dtype: int64
<class 'str'>    1083397
Name: gluten_free, dtype: int64
<class 'str'>      593832
<class 'float'>    489565
Name: original_open_hours, dtype: int64
<class 'float'>    1083397
Name: open_days_per_week, dtype: int64
<class 'float'>    1083397
Name: open_hours_per_week, dtype: int64
<class 'float'>    1083397
Name: working_shifts_per_week, dtype: int64
<class 'float'>    1083397
Name: avg_rating, dtype: int64
<class 'float'>    1083397
Name: total_reviews_count, dtype: int64
<class 'str'>      988204
<class 'float'>     95193
Name: default_language, dtype: int64
<class 'float'>    1083397
Name: reviews_count_in_default_language, dtype: int64
<class 'float'>    1083397
Name: excellent, dtype: int64
<class 'float'>    1083397
Name: very_good, dtype: int64
<class 'float'>    1083397
Name: average, dtype: int64
<class 'float'>    1083397
Name: poor, dtype: int64
<class 'float'>    1083397
Name: terrible, dtype: int64
<class 'float'>    1083397
Name: food, dtype: int64
<class 'float'>    1083397
Name: service, dtype: int64
<class 'float'>    1083397
Name: value, dtype: int64
<class 'float'>    1083397
Name: atmosphere, dtype: int64
<class 'float'>    984199
<class 'str'>       99198
Name: keywords, dtype: int64

## 3.	Would removing missing values solve the mixed data type problem?

In [9]:
#mixed columns
df["service"].unique()

array([4.5, nan, 3.5, 4. , 5. , 3. , 2.5, 2. , 1.5, 1. ])

This is a Python function that takes in a DataFrame as an input (df) and modifies it to fix mixed data types and missing values. The function first loops through all the columns in the DataFrame and checks if each column has mixed data types. If it does, the function converts the column to a specific data type. If the missing value ratio is greater than or equal to 0.5, it converts the column to string type, otherwise it converts the column to the data type that has the most observations.

After fixing mixed data types, the function then uses IterativeImputer from the sklearn library to fix missing values in the numeric columns (float64 and int64). IterativeImputer is a method that can estimate missing values by modeling each feature with missing values as a function of other features in a round-robin fashion.

In [10]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer,SimpleImputer
from sklearn.linear_model import BayesianRidge

def fix_mixed_data(data):
    # Fix mixed data types
    for col in data.columns:
        try:
            # Check if the column has mixed data types
            if len(data[col].apply(type).value_counts()) > 1:
                # Convert the column to a specific data type
                if data[col].isna().mean() >= 0.5:
                    data[col] = data[col].astype('str')
                else:
                    data[col] = data[col].astype(data[col].apply(type).value_counts().axes[0][0])
        except Exception as e:
            pass
    
    return data

def fix_nulls(data):
    # Fix missing values
    imputer = IterativeImputer(BayesianRidge(), max_iter=10, random_state=0)
    most_f_imputer = SimpleImputer(strategy='most_frequent')
    for col in data.columns:
        if data[col].dtypes in ['float64', 'int64']:
            data[[col]] = imputer.fit_transform(data[[col]])
        else: 
            data[[col]] = most_f_imputer.fit_transform(data[[col]])
    
    return data

Finally, the function returns the modified DataFrame.

In [11]:
fixed_df = fix_mixed_data(df)

In [12]:
clean_df =  fix_nulls(fixed_df)

In [13]:
#mixed columns
clean_df["service"].unique()

array([4.5       , 4.07151771, 3.5       , 4.        , 5.        ,
       3.        , 2.5       , 2.        , 1.5       , 1.        ])

In [14]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   restaurant_link                    100000 non-null  object
 1   restaurant_name                    100000 non-null  object
 2   original_location                  100000 non-null  object
 3   country                            100000 non-null  object
 4   region                             100000 non-null  object
 5   province                           100000 non-null  object
 6   city                               100000 non-null  object
 7   address                            100000 non-null  object
 8   latitude                           100000 non-null  float64
 9   longitude                          100000 non-null  float64
 10  claimed                            100000 non-null  object
 11  awards                             100000 non-null  object
 12  popularity_detailed                100000 non-null  object
 13  popularity_generic                 100000 non-null  object
 14  top_tags                           100000 non-null  object
 15  price_level                        100000 non-null  object
 16  price_range                        100000 non-null  object
 17  meals                              100000 non-null  object
 18  cuisines                           100000 non-null  object
 19  special_diets                      100000 non-null  object
 20  features                           100000 non-null  object
 21  vegetarian_friendly                100000 non-null  object
 22  vegan_options                      100000 non-null  object
 23  gluten_free                        100000 non-null  object
 24  original_open_hours                100000 non-null  object
 25  open_days_per_week                 100000 non-null  float64
 26  open_hours_per_week                100000 non-null  float64
 27  working_shifts_per_week            100000 non-null  float64
 28  avg_rating                         100000 non-null  float64
 29  total_reviews_count                100000 non-null  float64
 30  default_language                   100000 non-null  object
 31  reviews_count_in_default_language  100000 non-null  float64
 32  excellent                          100000 non-null  float64
 33  very_good                          100000 non-null  float64
 34  average                            100000 non-null  float64
 35  poor                               100000 non-null  float64
 36  terrible                           100000 non-null  float64
 37  food                               100000 non-null  float64
 38  service                            100000 non-null  float64
 39  value                              100000 non-null  float64
 40  atmosphere                         100000 non-null  float64
 41  keywords                           100000 non-null  object
dtypes: float64(17), object(25)
memory usage: 32.0+ MB

In [15]:
# Apply type method for each row and get count.
for col in clean_df.columns:    
    data_types = clean_df[col].apply(type).value_counts()
    print(data_types)

<class 'str'>    100000
Name: restaurant_link, dtype: int64
<class 'str'>    100000
Name: restaurant_name, dtype: int64
<class 'str'>    100000
Name: original_location, dtype: int64
<class 'str'>    100000
Name: country, dtype: int64
<class 'str'>    100000
Name: region, dtype: int64
<class 'str'>    100000
Name: province, dtype: int64
<class 'str'>    100000
Name: city, dtype: int64
<class 'str'>    100000
Name: address, dtype: int64
<class 'float'>    100000
Name: latitude, dtype: int64
<class 'float'>    100000
Name: longitude, dtype: int64
<class 'str'>    100000
Name: claimed, dtype: int64
<class 'str'>    100000
Name: awards, dtype: int64
<class 'str'>    100000
Name: popularity_detailed, dtype: int64
<class 'str'>    100000
Name: popularity_generic, dtype: int64
<class 'str'>    100000
Name: top_tags, dtype: int64
<class 'str'>    100000
Name: price_level, dtype: int64
<class 'str'>    100000
Name: price_range, dtype: int64
<class 'str'>    100000
Name: meals, dtype: int64
<class 'str'>    100000
Name: cuisines, dtype: int64
<class 'str'>    100000
Name: special_diets, dtype: int64
<class 'str'>    100000
Name: features, dtype: int64
<class 'str'>    100000
Name: vegetarian_friendly, dtype: int64
<class 'str'>    100000
Name: vegan_options, dtype: int64
<class 'str'>    100000
Name: gluten_free, dtype: int64
<class 'str'>    100000
Name: original_open_hours, dtype: int64
<class 'float'>    100000
Name: open_days_per_week, dtype: int64
<class 'float'>    100000
Name: open_hours_per_week, dtype: int64
<class 'float'>    100000
Name: working_shifts_per_week, dtype: int64
<class 'float'>    100000
Name: avg_rating, dtype: int64
<class 'float'>    100000
Name: total_reviews_count, dtype: int64
<class 'str'>    100000
Name: default_language, dtype: int64
<class 'float'>    100000
Name: reviews_count_in_default_language, dtype: int64
<class 'float'>    100000
Name: excellent, dtype: int64
<class 'float'>    100000
Name: very_good, dtype: int64
<class 'float'>    100000
Name: average, dtype: int64
<class 'float'>    100000
Name: poor, dtype: int64
<class 'float'>    100000
Name: terrible, dtype: int64
<class 'float'>    100000
Name: food, dtype: int64
<class 'float'>    100000
Name: service, dtype: int64
<class 'float'>    100000
Name: value, dtype: int64
<class 'float'>    100000
Name: atmosphere, dtype: int64
<class 'str'>    100000
Name: keywords, dtype: int64

### Data understanding
1.	Are the review columns correlated with the rating columns? 

●	Review columns: ["excellent", "very_good", "average", "poor", "terrible", "total_reviews_count", "reviews_count_in_default_language"]

●	Rating columns: ["food", "service", "value", "atmosphere", "avg_rating"]

2.	Are vegetarian-friendly restaurants better than non-vegetarian ones?
3.	Are there any significantly more expensive cuisines?

## <span style="color:orange"> Data understanding </span>

## 1.	Are the review columns correlated with the rating columns?

In [ ]:
review_columns = ["excellent", "very_good", "average", "poor", "terrible", "total_reviews_count", "reviews_count_in_default_language"]
rating_columns = ["food", "service", "value", "atmosphere", "avg_rating"]

correlation_matrix = clean_df[review_columns+rating_columns].corr()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.heatmap(correlation_matrix, annot=True, annot_kws={"size": 8})
plt.show()

In [ ]:
correlation_matrix

### Summary Of Corelation Table

This correlation table shows the correlation between the given variables. Each row and column represents a variable and each cell represents the correlation between two variables.

For example, the correlation between the "excellent" variable and the "very_good" variable is 0.807258. This value indicates a positive relationship between the two variables. A high correlation value (around 1) indicates a strong relationship between the two variables, while a low correlation value (around 0) indicates a weak relationship.

Similarly, the correlation between the "excellent" variable and the "food" variable is 0.113378, which indicates a weak relationship between the two variables.

Also, the correlation between "reviews_count_in_default_language" variable and "food" variable is 0.007918 which means there is almost no relationship between these two variables.

"avg_rating" variable has positive correlation with all other variables. for example, the correlation between "avg_rating" and "excellent" is 0.095228.

So, the table shows that there are correlations between the group variables of "excellent", "very_good", "average", "poor", "terrible", "total_reviews_count", "reviews_count_in_default_language" and the group variables of "food", "service", "value", "atmosphere", "avg_rating", but these are not high values, thus the relationships are weak.<b> This is because review_columns features are not in a range and are displayed with aggregate values.</b>

### <span style="color:orange"> Alternative Way </span>

In [ ]:
related_review_columns = ["excellent", "very_good", "average", "poor", "terrible"]

In [ ]:
dictionary = {"excellent": 5.0,
        "very_good": 4.0,
        "average": 3.0,
        "poor": 2.0,
        "terrible": 1.0,}

In [ ]:
clean_df[related_review_columns].idxmax(axis=1).unique()

In [ ]:
test = clean_df[related_review_columns].idxmax(axis=1)
clean_df["most_ratings"] = test.map(dictionary)

Optional : Average rating value also could use.

In [ ]:
review_columns = ["most_ratings"]
rating_columns = ["food", "service", "value", "atmosphere", "avg_rating"]

correlation_matrix = clean_df[review_columns+rating_columns].corr()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.heatmap(correlation_matrix, annot=True, annot_kws={"size": 8})
plt.show()

In [ ]:
correlation_matrix

In this table, the variable "most_ratings" has a strong positive correlation with "avg_rating" (0.634623). This suggests that when the number of reviews is high, the rating of the place is also high, indicating a positive relationship between the two variables.

The variable "food" has a moderate positive correlation with "avg_rating" (0.591482) and a strong positive correlation with "service" (0.830254) and "value" (0.838199) which means that the quality of food is positively related with the overall rating and the service and value aspects of the place.

## 2.	Are vegetarian-friendly restaurants better than non-vegetarian ones?

In [ ]:
clean_df[clean_df["vegan_options"] == "Y"].avg_rating.mean()

In [ ]:
clean_df[clean_df["vegan_options"] == "N"].avg_rating.mean()

In [ ]:
clean_df[clean_df["vegan_options"] == "Y"].most_ratings.mean()

In [ ]:
clean_df[clean_df["vegan_options"] == "N"].most_ratings.mean()

It is important to note that this is just an average and may not fully represent the distribution of ratings for items with vegan options. Additionally, the sample size of the subset used to calculate this average may also be small and may not be representative of the entire population.

My opinion is the "Yes". Vegetarian-friendly restaurants better than non-vegetarian ones.

## 3.	Are there any significantly more expensive cuisines?

In [ ]:
clean_df["price_level"].value_counts()

In [ ]:
clean_df["price_range"].value_counts().sort_values()

In [ ]:
clean_df["price_range"].str.replace("€","").str.split("-")

In [ ]:
price_range = pd.DataFrame()

In [ ]:
price_range[["col1","col2"]] = clean_df["price_range"].str.replace("€","").str.split("-").apply(pd.Series)

In [ ]:
price_range["restaurant_name"] = clean_df["restaurant_name"]

In [ ]:
price_range.sort_values(by="col2")

## 		<span style="color:orange">Auberge du Bois Prin</span>

![Auberge du Bois Prin](https://cf.bstatic.com/xdata/images/hotel/max1024x768/264590054.jpg?k=019f5955f05aa59756de1bfa5b4889e2bac076aded469a760aee89b93dae549a&o=&hp=1)

## Business-specific
1.	In the assets directory, you will see a very small dataset called europe_capitals_population_and_area.csv. A gluten-free restaurant wants to open a new restaurant in a European capital where gluten-free restaurants are underrepresented. Assuming there are no other factors, except population and gluten-free restaurant density, what would be the top 5 capitals to open that restaurant?
2.	Think and propose a couple of other ways this dataset could be used to help businesses.

### 1.	In the assets directory, you will see a very small dataset called europe_capitals_population_and_area.csv. A gluten-free restaurant wants to open a new restaurant in a European capital where gluten-free restaurants are underrepresented. Assuming there are no other factors, except population and gluten-free restaurant density, what would be the top 5 capitals to open that restaurant?

In [ ]:
#Use all of data once.
europe_data = pd.read_csv("assets\europe_capitals_population_and_area.csv",sep =";")

In [ ]:
europe_data.info()

In [ ]:
europe_data.sort_values(ascending = False,by="Population").head(32)

In [ ]:
elected_data = full_data[full_data["city"].isin(europe_data["City"].tolist())].reset_index(drop=True)

In [ ]:
elected_data["city"].unique()

In [ ]:
merged_df = pd.merge(elected_data, europe_data, left_on="city",right_on='City', how='inner')

In [ ]:
df_ver2 = merged_df[["City","Population","gluten_free"]]

In [ ]:
grouped = df_ver2.groupby('City')
grouped.size()

In [ ]:
# Get the count of rows in each group
group_count = grouped.size()

In [ ]:
# Create a new DataFrame with the city and count of restaurants
city_count = group_count.to_frame().rename(columns={0:"all_rest"}).reset_index()
city_count

In [ ]:
# Get the restourants size witg "gluten_free" is "Y"
df_ver2[df_ver2['gluten_free'] == 'Y'].groupby('City').size()

In [ ]:
#Set index as City
city_count = city_count.set_index("City")

In [ ]:
# Add a column for gluten-free restaurants
city_count['gluten_free_count'] = df_ver2[df_ver2['gluten_free'] == 'Y'].groupby('City').size()

In [ ]:
city_count = pd.merge(city_count,europe_data[["City","Population"]],left_on="City",right_on="City")

In [ ]:
# Add a column for percentage of gluten-free restaurants
city_count['gluten_free_percentage'] = (city_count['gluten_free_count']/city_count["all_rest"])*100

In [ ]:
city_count['restaurant_per_person'] = (city_count["all_rest"]/city_count['Population'])

In [ ]:
# Sort and fix data
city_count = city_count.sort_values(by=['gluten_free_percentage','restaurant_per_person'],ascending=False).reset_index()

In [ ]:
city_count.dropna().tail(5)

## 		<span style="color:orange">Conclusion</span>

 The table has 4 columns: City, all_rest, gluten_free_count, and gluten_free_percentage.

The City column lists the different cities.
The all_rest column lists the total number of restaurants in each city.
The gluten_free_count column lists the number of gluten-free restaurants in each city.
The gluten_free_percentage column lists the percentage of gluten-free restaurants in each city, calculated by dividing the gluten_free_count by all_rest.

According to the data, Munich, Prague, Bratislava, Paris and Lyon are the cities that are listed in the dataframe. Assuming there are no other factors, except population and gluten-free restaurant density yhe best capital for the open restourant is Lyon.

## 2.	Think and propose a couple of other ways this dataset could be used to help businesses.

### 2.1 Most Frequent Cuisines All Around The Europe.

This script loads the dataset into a pandas DataFrame, groups the data by city and cuisines, counts the number of restaurants in each city and cuisines, sorts the data in descending order, and prints the top 10 cusines by city.

In [ ]:
merged_df.columns

In [ ]:
merged_df['cuisines'] = merged_df['cuisines'].astype("str")
df_cuisines = merged_df['cuisines'].apply(lambda x: pd.Series(x.split(','))).stack().reset_index(level=1, drop=True).to_frame('cuisines')

In [ ]:
# Create a new dataframe with one row per cuisine
df_cuisines = merged_df['cuisines'].str.split(',').apply(pd.Series, 1).stack()
df_cuisines.index = df_cuisines.index.droplevel(-1)
df_cuisines.name = 'cuisines'
df_cuisines = df_cuisines.reset_index()

In [ ]:
df_cuisines = pd.merge(df_cuisines, merged_df[['city']].reset_index(),left_on="index",right_on="index")

In [ ]:
df_cuisines

In [ ]:
# Group the data by city and cuisines
grouped_data = df_cuisines.groupby(['cuisines','city']).size().reset_index(name='count')

# Sort the data by the number of restaurants, in descending order
grouped_data.sort_values(by='count', ascending=False, inplace=True)

In [ ]:
grouped_data[grouped_data["cuisines"] != "nan"].head(10)

## 2.2 Location analysis:
	The latitude and longitude information in the dataset could be used to identify high-traffic areas or areas with a high concentration of restaurants. This information could be used to help businesses choose a location for a new restaurant or identify areas where there may be opportunities for expansion.

In [ ]:
loc_data = merged_df[["restaurant_name","latitude","longitude"]].dropna(subset=['latitude', 'latitude']).reset_index(drop=True).head(100)

In [ ]:
from folium import Map, Marker

# Create a map object
m = Map(location=[loc_data['latitude'].mean(), loc_data['longitude'].mean()], zoom_start=13)

# Add markers for each restaurant to the map
for i, row in loc_data.iterrows():
    Marker(location=[row['latitude'], row['longitude']]).add_to(m)

# Show the map
m.save('map.html')

![Paris map](https://i.hizliresim.com/dcqzxv5.jpg)

In [ ]:
import folium
from folium.plugins import HeatMap

heat_data = merged_df[["restaurant_name","latitude","longitude"]].dropna(subset=['latitude', 'latitude']).reset_index(drop=True)

m = folium.Map(location=[heat_data['latitude'].mean(), heat_data['longitude'].mean()], zoom_start=13)

# Add a heatmap of the restaurants to the map
heatmap = HeatMap(data=heat_data[['latitude', 'longitude']], name='Restaurants', radius =30, overlay=True, control=False)
heatmap.add_to(m)

# Add a layer control to turn the heatmap on and off
folium.LayerControl().add_to(m)

# Show the map
m.save('map1.html')

![world map](https://i.hizliresim.com/loqxyf6.jpg)

## 	<span style="color:orange">BONUS</span>

1.	In the assets directory, you will see a file called paris_bounding_polygon.json. This contains a list of latitude and longitude coordinates that define a polygon that is considered to represent the Paris city area. For simplicity, we assume the population distribution is uniform in the Paris city area. An Italian restaurant wants to open a restaurant in Paris in a zone where there are the fewest Italian restaurants. What is the best location to open the restaurant (the answer can be a single point or a bounding box/polygonal region depending on the implementation)?